[CREDs]

# storage credentials ####################
storage_type = {{ storage_type }}
oracle_bucket = {{ oracle_bucket }}
QUERY_BUILDER_URL = http://querybuilder_app:3002
INGESTION_URL = http://ingest_app:3000
SPEC_URL = http://spec_app:3001
