[CREDs]

# storage credentials ####################
storage_type = {{ storage_type }}
nifi_host = http://nifi_app
nifi_port = 8096
oracle_bucket = {{ oracle_bucket }}
adapter_schedule_time = {{ adapter_scheduler_time }}
plugin_time = {{ plugin_time }}
processing_time = {{ processing_time }}
