[CREDs]

# Postgres credentials ####################

db_host     = postgres_app
db_port     = 5432
database = {{ db_name }}
db_user     = {{ db_user }}
db_password = {{ db_password }}
server_url = http://{{ api_endpoint }}
error_bucket_name = {{ s3_error_bucket }}
archived_bucket_name = {{ s3_archived_bucket }}
s3_access_key = {{ aws_access_key }}
s3_secret_key = {{ aws_secret_key }}
