[CREDs]

nifi_host = http://nifi_app
nifi_port = 8080
minio_end_point= http://localhost
minio_port = 9000
minio_access_key = {{ minio_username }}
minio_secret_key = {{ minio_password }}
minio_bucket = {{ minio_bucket }}
plugin_time = {{ plugin_time }}
processing_time = {{ processing_time }}
