[CREDs]

# storage credentials ####################
storage_type = {{ storage_type }}
nifi_host = http://nifi_app
nifi_port = 8096
azure_account_name = {{ azure_account_name }}
azure_account_key = {{ azure_account_key }}
azure_connection_string = {{ azure_connection_string }}
adapter_schedule_time = {{ adapter_scheduler_time }}
azure_container = {{ azure_container }}
plugin_time = {{ plugin_time }}
processing_time = {{ processing_time }}
dimension_path = /opt/nifi/nifi-current/Sunbird-cQube-processing-ms-97fc3d0/impl/c-qube/ingest/dimensions/
program_path = /opt/nifi/nifi-current/Sunbird-cQube-processing-ms-97fc3d0/impl/c-qube/ingest/programs/
