[CREDs]

# Postgres credentials ####################

storage_type = {{ storage_type }}
azure_connection_string = {{ azure_connection_string }}
azure_container = {{ azure_container }}
instance_type = {{ access_type }}
QUERY_BUILDER_URL = http://querybuilder_app:3002
INGESTION_URL = http://ingest_app:3000
SPEC_URL = http://spec_app:3001
