[CREDs]

nifi_host = http://nifi_app
nifi_port = 8096
nifi_schedule_latest_code = '0 0 12 * * ?'
s3_access_key = {{ aws_access_key }}
s3_secret_key = {{ aws_secret_key }}
s3_input_bucket = {{ s3_bucket }}
