[CREDs]

# Postgres credentials ####################

db_host     = postgres_app
db_port     = 5432
database = {{ db_name }}
db_user     = {{ db_user }}
db_password = {{ db_password }}
server_url = http://{{ api_end_point }}
