[CREDs]

# storage credentials ####################
storage_type = {{ storage_type }}
nifi_host = http://nifi_app
nifi_port = 8096
minio_end_point= http://{{ minio_ip_address }}
minio_port = 9000
minio_access_key = {{ minio_username }}
minio_secret_key = {{ minio_password }}
minio_bucket = {{ minio_bucket }}
instance_type = {{ access_type }}
state_name = {{ state_name }}
dimension_path = /opt/nifi/nifi-current/Sunbird-cQube-processing-ms/impl/c-qube/ingest/dimensions/
program_path = /opt/nifi/nifi-current/Sunbird-cQube-processing-ms/impl/c-qube/ingest/programs/
processing_time = * * * * * ?
plugin_time = * * * * * ?
adapter_schedule_time = * * * * * ?
