#!/bin/bash


result=$(curl -X GET --header "Accept: */*" "https://api.github.com/repos/ChakshuGautam/cQube-POCs/releases/latest")
echo "******************************************************* Response from server ********************************************************"
key='zipball_url'
value=$(echo $result | jq -r ".$key")
echo "$value"
sudo rm -rf cqube-ingest.zip
sudo rm -rf ChakshuGautam-cQube-POCs*
echo "***************************************************** Downloading the zip file ******************************************************"
wget -O cqube-ingest.zip $value
echo "****************************************************** Unzipping the zip file *******************************************************"
unzip cqube-ingest.zip
cd ChakshuGautam-cQube-POCs*
cd impl/c-qube
mkdir debug
echo "***************************************************** Adding Database_url to the .env file ******************************************"
touch .env
echo "DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@postgres_app:5432/{{ db_name }}"> .env
echo "***************************************************** Installing the yarn ***********************************************************"
curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg |sudo apt-key add -
echo "deb https://dl.yarnpkg.com/debian/ stable main" |sudo tee /etc/apt/sources.list.d/yarn.list
sudo apt update
sudo apt install yarn -y
yarn install

npx prisma generate
npx prisma migrate dev
yarn cli ingest debug=false
