#!/bin/bash

result=$(curl -X GET --header "Accept: /" "https://api.github.com/repos/Sunbird-cQube/processing-ms/releases/latest")
echo "******************************************************* Response from server ********************************************************"
key='zipball_url'
value=$(echo $result | jq -r ".$key")
echo "$result"
echo "$value"
rm -rf cqube-ingest.zip
rm -rf Sunbird-cQube*
echo "***************************************************** Downloading the zip file ******************************************************"
wget -O cqube-ingest.zip $value
echo "****************************************************** Unzipping the zip file *******************************************************"
unzip cqube-ingest.zip
mv Sunbird-cQube* Sunbird-cQube-processing-ms
cd Sunbird-cQube-processing-ms/impl/c-qube
mkdir debug
echo "***************************************************** Adding Database_url to the .env file ******************************************"
touch .env
echo "DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@postgres_app:5432/{{ db_name }}" >> .env
echo "PROGRAM_TYPE={{ access_type }}" >> .env
echo "STATE_NAME={{ state_name }}" >> .env
echo "DB_USERNAME={{ db_user }}" >> .env
echo "DB_HOST=postgres_app" >> .env
echo "DB_NAME={{ db_name }}" >> .env
echo "DB_PASSWORD={{ db_password }}" >> .env
echo "DB_PORT=5432" >> .env
echo "***************************************************** Installing the yarn ***********************************************************"
yarn install

npx prisma generate
npx prisma migrate deploy
