#!/bin/bash

## Executing yarn cli command to ingest data##
echo "Data ingestion is in progress"
cd Sunbird-cQube-processing-ms/impl/c-qube
yarn cli ingest --debug=false
yarn cli ingest-data --debug=true
echo "Data ingestion completed"
