#!/bin/bash


#result=$(curl -X GET --header "Accept: */*" "https://api.github.com/repos/ChakshuGautam/cQube-POCs/releases/latest")
#echo "******************************************************* Response from server ********************************************************"
#key='zipball_url'
#value=$(echo $result | jq -r ".$key")
#echo "$value"
rm -rf cqube-ingest.zip
rm -rf ChakshuGautam-cQube-POCs*
echo "***************************************************** Downloading the zip file ******************************************************"
wget -O cqube-ingest.zip https://api.github.com/repos/ChakshuGautam/cQube-POCs/zipball/v0.2
echo "****************************************************** Unzipping the zip file *******************************************************"
unzip cqube-ingest.zip
cd ChakshuGautam-cQube-POCs*
cd impl/c-qube
mkdir debug
echo "***************************************************** Adding Database_url to the .env file ******************************************"
touch .env
echo "DATABASE_URL=postgres://{{ db_user }}:{{ db_password }}@postgres_app:5432/{{ db_name }}"> .env
echo "***************************************************** Installing the yarn ***********************************************************"
yarn install

npx prisma generate
npx prisma migrate dev
