JWT_SECRET= 'cqube_secret'
STATE_CODE = "{{ state_name }}"
STATE_ID = "{{ state_id }}"
NVSK_URL = "https://{{ nvsk_api_endpoint }}/api/ingestion"
DB_HOST = 'postgres_app'
DB_PORT = 5432
DB_USERNAME = "{{ db_user }}"
DB_PASSWORD = "{{ db_password }}"
DB_NAME = "{{ db_name }}"
NIFI_HOST = 'http://nifi_app'
NIFI_PORT = 8096
URL = 'http://ingest_app:3000'
SPEC_URL = 'http://spec_app:3001'
STORAGE_TYPE= "{{ storage_type }}"
AWS_ACCESS_KEY = "{{ aws_access_key }}"
AWS_SECRET_KEY = "{{ aws_secret_key }}"
AWS_REGION = 'ap-south-1'
AWS_BUCKET = "{{ s3_bucket }}"
MINIO_END_POINT = "{{ minio_ip_address }}"
MINIO_PORT = 9000
MINIO_ACCESS_KEY = "{{ minio_username }}"
MINIO_SECRET_KEY = "{{ minio_password }}"
MINIO_BUCKET = "{{ minio_bucket }}"
AZURE_CONNECTION_STRING = "{{ azure_connection_string }}"
AZURE_CONTAINER = "{{ azure_container }}"
ORACLE_NAMESPACE = "{{ oracle_namespace }}" 
ORACLE_BUCKET = "{{ oracle_bucket }}"
PROGRAM_NAMES = {% if access_type == 'VSK' %}pm-poshan,nas,udise{% else %}NA{% endif %}
