export const environment = {
  production: false,
  apiURL: 'http://{{ api_endpoint }}/api/queryBuilder',
  stateCode: "{{ state_name }}",
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'short'
    }
  },
  google_analytics_tracking_id: "{{ google_analytics_tracking_id }}"
};
