export const environment = {
  production: true,
  apiURL: 'http://{{ api_endpoint }}:3002',
  config: "{{ access_type }}",
  stateCode: "{{ state_name }}",
  loginNeeded: "{{ loginpage_status }}",
  cqubeVersion: "{{ cqube_version }}",
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'short'
    }
  }
};
