export const environment = {
  production: false,
  apiURL: 'http://{{ api_endpoint }}:3002/api/queryBuilder',
  stateCode: "HP",
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'long'
    }
  },
  app_header_title: "भारत सरकार | Government of India",
  app_header_image_1: "Flag_of_India.svg",
  content_header_image_1: "MoE.png",
  content_header_image_2: "ncert_logo_vector_modified.png",
  google_analytics_tracking_id: "{{ google_analytics_tracking_id }}"
};
