export const environment = {
  production: true,
  apiURL: 'https://{{ api_endpoint }}/api/queryBuilder',
  config: "{{ access_type }}",
  stateCode: "{{ state_name }}",
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'short'
    }
  },
  google_analytics_tracking_id: "{{ google_analytics_tracking_id }}",
  keycloakRealm: "cQube",
  keycloakUrl: "https://{{ api_endpoint }}/auth",
  keycloakClient: "cqube-5.0",
  keycloakSecret: "d0b8122f-8dfb-46h7-b69a-f5cc4e25d000"
};
