export const environment = {
  production: true,
  apiURL: 'https://{{ api_endpoint }}/api/queryBuilder',
  config: "{{ access_type }}",
  cqubeVersion: "{{ cqube_version }}",
  stateCode: "{{ state_name }}",
  loginNeeded: {% if loginpage_status == true %}true{% else %}false{% endif %}{{''}},
  guestUsername: "guest-user",
  guestPassword: "Guest@123",
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'short'
    }
  }
};
