export const environment = {
  production: true,
  apiURL: 'http://{{ api_endpoint }}:3002',
  config: "{{ access_type }}",
  stateCode: "{{ state_name }}",
  cqubeVersion: "{{ cqube_version }}",
  numberFormat: {
    reports: {
      locale: 'en-IN',
      format: 'short'
    }
  },
  google_analytics_tracking_id: "{{ google_analytics_tracking_id }}",
};
