version: '2.2'
services:
  postgres_app:
    image: postgres_ms:1
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB={{ db_name }}
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_password }}
      - READONLY_USER={{ read_only_db_user }}
      - READONLY_PASS={{ read_only_db_password }}
    networks:
      - cqube_net
  python_app:
    image: python_ms:1
    volumes:
      - python_executable_env:/usr/local/lib/python3.7/site-packages
    networks:
      - cqube_net
  keycloak_app:
    image: keycloak_ms:1
    ports:
      - 8080:8080
    environment:
      - KEYCLOAK_USER={{ keycloak_adm_name }}
      - KEYCLOAK_PASSWORD={{ keycloak_adm_password }}
    networks:
      - cqube_net
  ingest_app:
    image: ingestion_ms:1
    ports:
      - 3000:3000
    volumes:
      - /home/{{ system_user_name }}/old_input_files
    networks:
      - cqube_net
  spec_app:
    image: spec_ms:1
    ports:
      - 3001:3001
    networks:
      - cqube_net
  generator_app:
    image: generator_ms:1
    ports:
      - 3003:3003
    volumes:
      - adapter_volume:/python_app/adapter
    networks:
      - cqube_net
  dashboard_app:
    image: dashboard_ms:1
    ports:
      - 4200:80
    networks:
      - cqube_net
  querybuilder_app:
    image: querybuilder_ms:1
    ports:
      - 3002:3002
    networks:
      - cqube_net
  nifi_app:
    image: nifi_ms:1
    ports:
      - 8096:8096
    volumes:
      - python_executable_env:/usr/local/lib/python3.7/dist-packages
      - adapter_volume:/opt/nifi/nifi-current/adapter
    environment:
      - NIFI_WEB_HTTP_HOST=0.0.0.0
      - NIFI_WEB_HTTP_PORT=8096
    networks:
      - cqube_net
  kong_app:
    image: kong:latest
    volumes:
      - ./kong.yml:/usr/local/kong/declarative/kong.yml
    environment:
      - KONG_DATABASE=off
      - KONG_DECLARATIVE_CONFIG=/usr/local/kong/declarative/kong.yml
      - KONG_PROXY_ACCESS_LOG=/dev/stdout
      - KONG_ADMIN_ACCESS_LOG=/dev/stdout
      - KONG_PROXY_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_ERROR_LOG=/dev/stderr
      - KONG_ADMIN_LISTEN=0.0.0.0:8001
    ports:
      - "8000:8000"
      - "8433:8433"
      - "127.0.0.1:8001:8001"
      - "127.0.0.1:8444:8444"
    networks:
      - cqube_net
  nginx_app:
    image: nginx_ms:1
    ports:
      - 80:80
      - 443:443
    networks:
      - cqube_net
networks:
  cqube_net:
volumes:
  python_executable_env:
  adapter_volume:
