#!/bin/bash

echo "Creating realm in keycloak. It will take 30 seconds to initialize keycloak."
sleep 30

sudo docker exec -i keycloak_app sh << 'EOF'
/opt/jboss/keycloak/bin/kcadm.sh config credentials --server http://localhost:8081/auth --realm master --user {{ keycloak_adm_name }} --password {{ keycloak_adm_password }}

/opt/jboss/keycloak/bin/kcadm.sh create realms -s realm=cQube -s enabled=true -o

/opt/jboss/keycloak/bin/kcadm.sh create clients -r cQube -s clientId=cqube-5.0 -s enabled=true -s clientAuthenticatorType=client-secret -s secret=d0b8122f-8dfb-46h7-b69a-f5cc4e25d000

EOF
