_format_version: "2.1"
   
services:
  - name: ingestion-ms
    url: http://ingest_app:3000/api/ingestion
    routes:
      - name: ingestion-ms
        paths:
          - /api/ingestion

  - name: spec-ms
    url: http://spec_app:3001/api/spec
    routes:
      - name: spec-ms
        paths:
          - /api/spec

  - name: generator-ms
    url: http://generator_app:3003/api/generator
    routes:
      - name: generator-ms
        paths:
          - /api/generator
