{% if micro_improvements_nation_loginStatus == 'public' %}micro_improvements{% else %}{% endif %}{{''}},{% if ncf_nation_loginStatus == 'public' %}ncf{% else %}{% endif %}{{''}},{% if ncert_quiz_nation_loginStatus == 'public' %}ncert_quiz{% else %}{% endif %}{{''}},{% if nipun_bharat_nation_loginStatus == 'public' %}nipun_bharat{% else %}{% endif %}{{''}},{% if pgi_nation_loginStatus == 'public' %}pgi{% else %}{% endif %}{{''}},{% if pm_poshan_nation_loginStatus == 'public' %}pm_poshan{% else %}{% endif %}{{''}},{% if udise_nation_loginStatus == 'public' %}udise{% else %}{% endif %}{{''}},{% if nas_nation_loginStatus == 'public' %}nas{% else %}{% endif %}{{''}},{% if diksha_nation_loginStatus == 'public' %}diksha{% else %}{% endif %}{{''}},{% if nishtha_nation_loginStatus == 'public' %}nishtha{% else %}{% endif %}{{''}}
