{% if micro_improvements_nation_loginStatus == 'private' %}"micro_improvements"{% else %}{% endif %}{{''}},{% if ncf_nation_loginStatus == 'private' %}"ncf"{% else %}{% endif %}{{''}},{% if ncert_quiz_nation_loginStatus == 'private' %}"ncert_quiz"{% else %}{% endif %}{{''}},{% if nipun_bharat_nation_loginStatus == 'private' %}"nipun_bharat"{% else %}{% endif %}{{''}},{% if pgi_nation_loginStatus == 'private' %}"pgi"{% else %}{% endif %}{{''}},{% if pm_poshan_nation_loginStatus == 'private' %}"pm_poshan"{% else %}{% endif %}{{''}},{% if udise_nation_loginStatus == 'private' %}"udise"{% else %}{% endif %}{{''}},{% if nas_nation_loginStatus == 'private' %}"nas"{% else %}{% endif %}{{''}},{% if diksha_nation_loginStatus == 'private' %}"diksha"{% else %}{% endif %}{{''}},{% if nishtha_nation_loginStatus == 'private' %}"nishtha"{% else %}{% endif %}{{''}}
