template,status
studentAttendance,{% if studentAttendance == true %}1{% endif %}{% if studentAttendance == false %}0{% endif %}{{''}}
teacherAttendance,{% if teacherAttendance == true %}1{% endif %}{% if teacherAttendance == false %}0{% endif %}{{''}}
reviewMeetings,{% if reviewMeetings == true %}1{% endif %}{% if reviewMeetings == false %}0{% endif %}{{''}}
pgi,{% if pgi == true %}1{% endif %}{% if pgi == false %}0{% endif %}{{''}}
pmPoshan,{% if pmPoshan == true %}1{% endif %}{% if pmPoshan == false %}0{% endif %}{{''}}
udise,{% if udise == true %}1{% endif %}{% if udise == false %}0{% endif %}{{''}}
nas,{% if nas == true %}1{% endif %}{% if nas == false %}0{% endif %}{{''}}
diksha,{% if diksha == true %}1{% endif %}{% if diksha == false %}0{% endif %}{{''}}
nishtha,{% if nishtha == true %}1{% endif %}{% if nishtha == false %}0{% endif %}{{''}}
