program_id,status,acess_type
sch_att,{% if sch_att_state == true %}true{% endif %}{% if sch_att_state == false %}false{% endif %}{{''}},{% if sch_att_state_loginStatus == 'public' %}public{% endif %}{% if sch_att_state_loginStatus == 'private' %}private{% endif %}{{''}}
pgi,{% if pgi_state == true %}true{% endif %}{% if pgi_state == false %}false{% endif %}{{''}},{% if pgi_state_loginStatus == 'public' %}public{% endif %}{% if pgi_state_loginStatus == 'private' %}private{% endif %}{{''}}
pm_poshan,{% if pm_poshan_state == true %}true{% endif %}{% if pm_poshan_state == false %}false{% endif %}{{''}},{% if pm_poshan_state_loginStatus == 'public' %}public{% endif %}{% if pm_poshan_state_loginStatus == 'private' %}private{% endif %}{{''}}
udise,{% if udise_state == true %}true{% endif %}{% if udise_state == false %}false{% endif %}{{''}},{% if udise_state_loginStatus == 'public' %}public{% endif %}{% if udise_state_loginStatus == 'private' %}private{% endif %}{{''}}
nas,{% if nas_state == true %}true{% endif %}{% if nas_state == false %}false{% endif %}{{''}},{% if nas_state_loginStatus == 'public' %}public{% endif %}{% if nas_state_loginStatus == 'private' %}private{% endif %}{{''}}
diksha,{% if diksha_state == true %}true{% endif %}{% if diksha_state == false %}false{% endif %}{{''}},{% if diksha_state_loginStatus == 'public' %}public{% endif %}{% if diksha_state_loginStatus == 'private' %}private{% endif %}{{''}}
nishtha,{% if nishtha_state == true %}true{% endif %}{% if nishtha_state == false %}false{% endif %}{{''}},{% if nishtha_state_loginStatus == 'public' %}public{% endif %}{% if nishtha_state_loginStatus == 'private' %}private{% endif %}{{''}}
telemetry,{% if telemetry_state == true %}true{% endif %}{% if telemetry_state == false %}false{% endif %}{{''}},{% if telemetry_state_loginStatus == 'public' %}public{% endif %}{% if telemetry_state_loginStatus == 'private' %}private{% endif %}{{''}}
