{% if teacherAttendance_loginStatus == false %}"teacherAttendance"{% else %}{% endif %}{{''}},{% if pgi_loginStatus == false %}"pgi"{% else %}{% endif %}{{''}},{% if pmPoshan_loginStatus == false %}"pmPoshan"{% else %}{% endif %}{{''}},{% if udise_loginStatus == false %}"udise"{% else %}{% endif %}{{''}},{% if nas_loginStatus == false %}"nas"{% else %}{% endif %}{{''}},{% if diksha_loginStatus == false %}"diksha"{% else %}{% endif %}{{''}},{% if nishtha_loginStatus == false %}"nishtha"{% else %}{% endif %}{{''}}
