{% if sch_att_loginStatus == true %}"sch_att"{% else %}{% endif %}{{''}},{% if pgi_loginStatus == true %}"pgi"{% else %}{% endif %}{{''}},{% if pm_poshan_loginStatus == true %}"pm_poshan"{% else %}{% endif %}{{''}},{% if udise_loginStatus == true %}"udise"{% else %}{% endif %}{{''}},{% if nas_loginStatus == true %}"nas"{% else %}{% endif %}{{''}},{% if diksha_loginStatus == true %}"diksha"{% else %}{% endif %}{{''}},{% if nishtha_loginStatus == true %}"nishtha"{% else %}{% endif %}{{''}}
