{% if sch_att_state_loginStatus == 'public' %}sch_att{% else %}{% endif %}{{''}},{% if pgi_state_loginStatus == 'public' %}pgi{% else %}{% endif %}{{''}},{% if pm_poshan_state_loginStatus == 'public' %}pm_poshan{% else %}{% endif %}{{''}},{% if udise_state_loginStatus == 'public' %}udise{% else %}{% endif %}{{''}},{% if nas_state_loginStatus == 'public' %}nas{% else %}{% endif %}{{''}},{% if diksha_state_loginStatus == 'public' %}diksha{% else %}{% endif %}{{''}},{% if nishtha_state_loginStatus == 'public' %}nishtha{% else %}{% endif %}{{''}},telemetry_state_loginStatus == 'public' %}telemetry{% else %}{% endif %}{{''}}
