{% if sch_att_state_loginStatus == 'private' %}"sch_att"{% else %}{% endif %}{{''}},{% if pgi_state_loginStatus == 'private' %}"pgi"{% else %}{% endif %}{{''}},{% if pm_poshan_state_loginStatus == 'private' %}"pm_poshan"{% else %}{% endif %}{{''}},{% if udise_state_loginStatus == 'private' %}"udise"{% else %}{% endif %}{{''}},{% if nas_state_loginStatus == 'private' %}"nas"{% else %}{% endif %}{{''}},{% if diksha_state_loginStatus == 'private' %}"diksha"{% else %}{% endif %}{{''}},{% if nishtha_state_loginStatus == 'private' %}"nishtha"{% else %}{% endif %}{{''}}
