{% if teacherAttendance_loginStatus == true %}"teacherAttendance"{% else %}{% endif %}{{''}},{% if pgi_loginStatus == true %}"pgi"{% else %}{% endif %}{{''}},{% if pmPoshan_loginStatus == true %}"pmPoshan"{% else %}{% endif %}{{''}},{% if udise_loginStatus == true %}"udise"{% else %}{% endif %}{{''}},{% if nas_loginStatus == true %}"nas"{% else %}{% endif %}{{''}},{% if diksha_loginStatus == true %}"diksha"{% else %}{% endif %}{{''}},{% if nishtha_loginStatus == true %}"nishtha"{% else %}{% endif %}{{''}}
