#!/bin/bash

sudo docker exec -i postgres_app psql -U {{ db_user }} -d {{ db_name }} << 'EOF'

GRANT USAGE ON SCHEMA public TO {{ read_only_db_user }};
GRANT SELECT ON ALL TABLES IN SCHEMA public TO {{ read_only_db_user }};
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO {{ read_only_db_user }};

GRANT USAGE ON SCHEMA spec TO {{ read_only_db_user }};
GRANT SELECT ON ALL TABLES IN SCHEMA spec TO {{ read_only_db_user }};
ALTER DEFAULT PRIVILEGES IN SCHEMA spec GRANT SELECT ON TABLES TO {{ read_only_db_user }};

GRANT USAGE ON SCHEMA transformers TO {{ read_only_db_user }};
GRANT SELECT ON ALL TABLES IN SCHEMA transformers TO {{ read_only_db_user }};
ALTER DEFAULT PRIVILEGES IN SCHEMA transformers GRANT SELECT ON TABLES TO {{ read_only_db_user }};

GRANT USAGE ON SCHEMA dimensions TO {{ read_only_db_user }};
GRANT SELECT ON ALL TABLES IN SCHEMA dimensions TO {{ read_only_db_user }};
ALTER DEFAULT PRIVILEGES IN SCHEMA dimensions GRANT SELECT ON TABLES TO {{ read_only_db_user }};

GRANT USAGE ON SCHEMA datasets TO {{ read_only_db_user }};
GRANT SELECT ON ALL TABLES IN SCHEMA datasets TO {{ read_only_db_user }};
ALTER DEFAULT PRIVILEGES IN SCHEMA datasets GRANT SELECT ON TABLES TO {{ read_only_db_user }};

EOF
